{% extends 'main_app/base.html'%}

{% block css %}
{% endblock %}


{% block content %}
<h1 class="text-center border-bottom ">x{{ context }}</h1>
{% if context.comments_set.all %}
{% for comment in context.comments_set.all %}
    <div class="text-primary container w-50 border-bottom">
        <p class="text-dark">
            {{ request.user }}: {{ comment }}
        </p>
    </div>
            {% endfor %}
            {% else %}
            <p class="lead text-center text-secondary">Wow! No comments for this post. Must suck</p>
        {% endif %}
    <a href="{% url 'main_app:create_comment' context.id %}" class="c">Add a comment</a>
{% endblock%}