{% extends 'main_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% if errors %}

    {% for errors in form.errors%}
    <li>
        <p>{{ errors }}</p>
    </li>
    {% endfor %}
    {% endif %}
    <form action="" enctype="multipart/form-data" method="post" class="form-group container w-50 border ">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success mt-2">Signin</button>
        <div class="div">
            <small class="lead">Already have an account? <a href="{% url 'login' %}">Signin</a></small>
        </div>
    </form>
    {% endblock%}