{% extends 'main_app/base.html'%}
<!-- CSS -->
{% block css %}
    <title>Witzer| Social Media for Gamer</title>
    <style>
      a:link {
        color: #000;
      }
    </style>
    
{% endblock %}


<!-- Html Content  -->
{% block content %}

    <main class="container w-50 border border-2">
        {% for i in context%}
        <div class="card mx-auto mb-3" style="width: 30rem; border-radius: 8%;">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'main_app:profile' i.author.id %}">{{ i.author }}</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ i.date_posted }}</h6>
              <p class="card-text"><a href="{% url 'main_app:post_detail' i.id%}">{{ i.post }}</a></p>
              <a href="#" class="card-link">Comments</a>
              <a href="#" class="card-link">Like?</a>
            </div>
          </div>
          {% endfor %}
    </main>

    <sidenav class="sidenav w-25" style="position: absolute; top: 50%; left: 78%;">
      <form action="" method="post" class="form-control">
        
        <input type="text" name="qs" placeholder="Search" class="mb-2">
        <button type="submit" class="btn btn-outline-success">Find</button>
        <ul>
          <li>Something about the sidenav</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum dolor.</li>
        </ul>
      </form>

    </sidenav>
{% endblock %}