{% extends 'main_app/base.html '%}
{% load static %}

{% block content %}

    <div class="content-section container">
        <div class="media">
            <img src="{{ context.profile_pic.url}}" alt="{{ context }} profile pic" class="rounded-circle account-img w-25" style="height: 50%; display:inline;">
            <h3 class="account-heading text-secondary">{{ context }}</h3>
                <small class="lead text-muted">Join Date: {{ context.date_created|date:"F d, Y"}}</small>
            <div class="media-body">
                

            </div>

        </div>
        <hr>
        {% for x in context.post_set.all %}
        <div class="card my-2">
            <div class="card-body">
                <h2> 
                        <a href="{% url 'main_app:post_detail' x.id%}" class="link">{{ x }}</h2></a>
                </div>
            </div>
            {% endfor %}

        <!-- <div class="container card mx-2">
            <div class="card-body">
            {% for x in context.post %}
                {{ x }}
            {% endfor %}
            </div>
        </div>
    -->
    </div>
{% endblock %}