@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    font-family:   'Andada Pro', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #444;
    transition: all 2s;
}

.header {
    height: 5vh;
    background: linear-gradient(to right, #fa594f #56a8f4);
    background-position: top;
    color: #fff;
}

.nav-bg {
    background: linear-gradient(to right,#ff7675, #ffeaa7);
    color: #00cec9;
    max-height: 10% !important;
    
}
.post-text {
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    font-weight: 550;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-family:   'Andada Pro', 'Times New Roman', Times, serif;
    line-height: 1.7;
    
}

.text-pink {
    font-size: 1.4rem;
    font-weight: 450;
    text-decoration: none;
    color: #ff7675;
}

.text-blue {
    font-size: 1.6rem;
    font-weight: 550;
    text-decoration: none;
    color: #56a8f4;
}
.post-img {
    background-size: cover;
}

nav a.nav-item {
    text-decoration: none!important;
    color: #000;
}
li.nav-item a:link {
    text-decoration: none!important;
    color: #fff;
}